users:
  - username: test
    # mkpasswd --method=SHA-512
    password: $6$FC1cl52pg24V3$yvDeD/zD6jUnXrZHoXW.xXdtvQ1she/UAPkXdU44mA2Q5PWUofz53lZstxsvxXd/lql0EFpHJK.AfWHdZJDh.1
    update_password: on_create
    comment: Test User
    shell: /bin/bash
    ssh_key: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDb26m6B+aVuWmJ3opZmIIaz3AtQGHqlEGPGOCpbRHiYNxiTqq1YxXUiGVKo6RXc4eC5k0Eoa15wZQQqwfpnUxO7JsB0Q2YoDmi2BqC2h0qVtE/rXyaodnpFsG+tep4Pe6u+5tsHFL2K4MLE4hOHkwk2qqpastWabNQpyjMvTaC+KarePlz9ZwroxXGjZqLAHNFos4HLvcfwKr56Pe08BflFo1PP2UlnUikC6r1ykuY1BPG4Xbpq6S7esNePLCzC0XzC76oWXSZz0U5lyu4P30PfCkOVNsKmdV7/8hgyWhDZwmBqgQ4N7dBvL3cNemQFN9jPOf8IMRWdtDEIAeBlyH9Bl8IfzBe+maRAYh5LzZGJ8CRcLfVGbpT4mnY5jN7yeeUTft9KjQlvGLT7RpDyVBwpsdv5PqwlFxFyW6MewH+tZrGNa3WoWbgZoekuvPoL3G2STZaz5z1RcQPD+15UtO4jU841fdxs/36dVemUigUv2W6qKX1C7jGZmXh9jzuO4M= test@node1
    exclusive_ssh_key: yes
    generate_ssh_key: yes
    use_sudo: yes
    use_sudo_nopass: no
    groups: docker
    user_state: present
    servers:
      - dev
